/* Style the header */
.header {
    padding: 10px 16px;
    background: whitesmoke;
    color: #f1f1f1;
    z-index: 100;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }
  * {
    font-family: 'Lato', sans-serif;
  }
  
  .bg-primary-color {
    background-color: #fff;
  }
  
  .bg-secondary-color {
    background-color: #000000;
  }
  
  .bg-dark-color {
    background-color: #050505;
    
  }
  .myBackground {
    background-image: url(https://i.imgflip.com/2/34c2k2.jpg);
    color: white
}
  .primary-color {
    color: #050505;
  }
  
  .secondary-color {
    color: #800080;
  }
  
  /* NAVBAR */
  #navbar {
    border-bottom: 1px solid #7a7a7a;
  }
  
  #navbar a {
    color: #050505;
  }
  
  #navbar a:hover {
    color: #7a7a7a;
  }
  
  #navbar .active {
    border-bottom: 1px solid #050505;
  }
  
  .navbar-brand {
    display: flex;
  }
  
  .navbar-brand img {
    width: 60px;
  }
  
  .navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
  }
  
  #navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  #navbar-items .nav-item {
    margin: 0 1em;
  }
  
  /* SLIDER */
  #slider {
    margin-top: 8em;
    margin-bottom: 1em;
  }
  
  #slider .carousel-caption {
    bottom: 3em;
  }
  
  #slider .carousel-caption h5 {
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
  }
  
  .btn {
    border-radius: 0;
  }
  
  #slider .btn {
    padding: 0.3em 0.8em;
    font-size: 1em;
    margin-top: 1em;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    opacity: 0.7;
  }
  
  .carousel-control-prev i,
  .carousel-control-next i {
    color: #111;
    font-size: 3em;
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: #222;
    opacity: 0.8;
  }
  
  .carousel-indicators .active {
    background-color: #000;
  }
  
  @media (min-width: 768px) {
    #slider .carousel-caption {
      bottom: 15em;
    }
    #slider .carousel-caption h5 {
      font-size: 4em;
      text-shadow: #000 2px 3px;
    }
    #slider .btn {
      padding: 0.6em 1.6em;
      font-size: 1.2em;
      margin-top: 1em;
    }
    .carousel-indicators {
      bottom: 7em;
    }
  }
  
  /* MINI BANNERS */
  #mini-banners {
    margin-bottom: 4em;
  }
  
  #mini-banners .card {
    padding: 2em 0.3em;
    border-radius: 0;
  }
  
  #mini-banners i {
    font-size: 4em;
  }
  
  #mini-banners .card-title {
    margin-bottom: 1.5em;
  }
  
  #mini-banners .btn {
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
  }
  
  #mini-banners .card {
    margin-bottom: 1em;
  }
  
  @media (min-width: 768px) {
    #mini-banners {
      margin-top: -6em;
    }
  }
  
  /* DESTAQUES */
  #featured-container {
    margin-bottom: 4em;
  }
  
  .title {
    font-size: 1.75em;
    margin-bottom: 0.4em;
    position: relative;
  }
  
  .title:before {
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: '';
    position: absolute;
    bottom: 2em;
  }
  
  #featured-images {
    margin-top: 2em;
  }
  
  #featured-images .col-md-4 {
    position: relative;
    cursor: pointer;
  }
  
  #featured-images .col-md-4:hover > .banner-content {
    opacity: 0.8;
  }
  
  #featured-images .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
  }
  .cor1 {
background-color: #0f61b7;
  }
  
  @media (min-width: 768px) {
    .title {
      font-size: 2.4em;
    }
  
    .title:before {
      bottom: 1.5em;
    }
  
    #featured-images .banner-content {
      opacity: 0;
    }
  }
  
  /* INFO */
  #info-content {
    margin-bottom: 4em;
    padding: 4em 1em;
  }
  
  #info-numbers {
    margin: 1.5em 0;
  }
  
  #info-banner {
    align-items: center;
    display: flex;
    margin-bottom: 2.5em;
  }
  
  #info-numbers h3 {
    font-size: 3em;
  }
  
  @media (min-width: 768px) {
    #info-content {
      padding: 3.5em;
    }
  }
  
  /* FOOTER TOP */
  #footer {
    padding: 3em 2em;
  }
  
  #footer-top {
    margin-bottom: 2em;
  }
  
  #footer-top,
  #footer-top i {
    color: #fff;
  }
  
  #social-icons {
    text-align: right;
  }
  
  #social-icons i {
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  #social-icons i:hover {
    color: #7a7a7a;
  }
  
  /* FOOTER DETAILS */
  #footer-details {
    margin-bottom: 3em;
  }
  
  #news-container,
  #contact-container,
  #links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
  }
  
  #footer-details h4 {
    color: #fff;
    margin-bottom: 1.5em;
  }
  
  #news-container input {
    border-radius: 0;
    border: none;
  }
  
  #links-container li {
    margin-bottom: 0.5em;
  }
  
  #links-container a {
    text-decoration: none;
  }
  
  #links-container a:hover {
    color: #fff;
  }
  
  /* FOOTER BOTTOM */
  #footer-bottom {
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
  }
  
  #footer-bottom i {
    color: #e61e10;
  }
  
  @media (min-width: 768px) {
    #news-container {
      padding-right: 2em;
    }
  
    #contact-container {
      padding: 0 2em;
      border-left: 1px solid #7a7a7a;
      border-right: 1px solid #7a7a7a;
    }
  
    #links-container {
      padding-left: 2em;
    }
  }
  .cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2147483645;
    box-sizing: border-box;
    width: 100%;
  
    background-color: #F1F6F4;
  }
  
  .cookie-consent-banner__inner {     
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 0;
  }
  
  .cookie-consent-banner__copy { 
    margin-bottom: 16px;
  }
  
  .cookie-consent-banner__actions {    
  }
  
  .cookie-consent-banner__header {
    margin-bottom: 8px;
    
    font-family: "CeraPRO-Bold", sans-serif, arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
  
  .cookie-consent-banner__description {
    font-family: "CeraPRO-Regular", sans-serif, arial;
    font-weight: normal;
    color: #838F93;
    font-size: 16px;
    line-height: 24px;
  }
  
  .cookie-consent-banner__cta {
    box-sizing: border-box;
    display: inline-block;
    min-width: 164px;
    padding: 11px 13px;
      
    border-radius: 2px;
    
    background-color: #2CE080;
     
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-family: "CeraPRO-Regular", sans-serif, arial;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
  
  .cookie-consent-banner__cta--secondary { 
    padding: 9px 13px;
    
    border: 2px solid #3A4649;
    
    background-color: transparent;
    
    color: #2CE080;
  }
  
  .cookie-consent-banner__cta:hover {
    background-color: #20BA68;
  }
  
  .cookie-consent-banner__cta--secondary:hover {
    border-color: #838F93;
      
    background-color: transparent;
    
    color: #22C870;
  }
  
  .cookie-consent-banner__cta:last-child {
    margin-left: 16px;
  }